# Node specific
node_modules/
*.log

# OS specific
.DS_Store
Thumbs.db

# Electron specific
*/dist/
*/node_modules/electron/dist/

# ESlint & Prettier configurations
**/.eslintrc
**/.eslintrc.js
**/.eslintrc.json
**/.eslintrc.yml
**/.eslintrc.yaml
**/.prettierrc
**/.prettierrc.js
**/.prettierrc.json
**/.prettierrc.yml
**/.prettierrc.yaml
**/.eslintignore
**/.prettierignore

# Ignore all node_modules inside projects
**/node_modules/
